<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/dist/jquery.js"></script>
    
    <style>
      #hash-api-results > div {
        border: solid 1pt black;
      }
      #hash-api-results > div > p {
        margin: 0;
        padding: 0;
      }
      #hash-api-results > div:nth-child(even) {
        background-color: lightgrey
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
